In [1]:
import pandas as pd
import os 
dictionary = {'apple':7, 'banana':2}
dictionary1 = {'apple':2}
output = pd.DataFrame()
output = output.append(dictionary, ignore_index=True)
output = output.append(dictionary1, ignore_index=True)
#output1 = output[0:0]
output

   apple  banana
0    7.0     2.0
1    2.0     NaN

In [4]:
df = pd.DataFrame({'apple':[22,44],'banana':[22,22]})
df.to_csv('sample.csv', mode='a', header=False)

In [5]:
dictionary = {'apple':7, 'banana':2}
for k,u in dictionary.items():
    print(k,u)

apple 7
banana 2